:root {
    --b-radius: 10px;
    --b-shadow: 0 5px 10px 0 var(--black);
    --padding: 1rem;
    --margin: 1rem;
    --white: rgb(247, 234, 234);
    --blue: #0a1afc;
    --black: #3d3c3c;
    --red: #18ff3e;
    --font-family: Georgia;
    --font-size: 1rem;
    --font-size-large: 1.25rem;
    --font-size-xlarge: 2rem;
    --font-size-small: 0.75rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--black);
    color: var(--white);
    font-family: var(--font-family);
}

a {
    text-decoration: none;
    color: var(--blue);
}

h5,h4 {
    color: var(--red);
}

main {
    width: 100%;
    padding: 2rem;
    display: flex;
    gap: var(--padding);
    flex-flow: column;
    justify-content: center;
    box-shadow: var(--b-shadow);
    border: 1px;
}

.img-wrapper {
    text-align: center;
    font-size: var(--font-size-xlarge);
}

img {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 2px solid #ddd;
    filter: brightness(1.5);
    box-shadow: var(--b-shadow);
}

.username {
    padding: 0 var(--padding);
}
.date-time{
    padding: var(--font-size-small);
    font-size: var(--font-size-large);
}

ul {
    list-style: none;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: var(--padding);
}

li {
    width: 50%;
    border: 2px solid #ddd;
    border-radius: var(--b-radius);
    padding: var(--font-size-large);
}

li h5 {
    padding: var(--font-size-small) 0;
    font-size: var(--font-size-large);
}

@keyframes mains {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}